.app-bar {
  height: 15%;
  position: relative;
}

.nav-Bar {
  display: flex;
  justify-content: flex-end;
  margin-left: 1rem;
  padding-bottom: 20px;
}

.nav-Container {
  margin-right: 40px;
}

.header {
  padding-top: 20px;
  display: flex;
  justify-content: flex-start;
  padding-left: 40px;
}
