.card {
  width: 12rem;
  align-content: center;
  margin-bottom: 60px;
}

.card-img-top {
  height: 250px;
  width: 375px;
}

.card-genre {
  display: flex;
  justify-content: flex-start;
  font-size: small;
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: 5px;
}

.card-title {
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
  height: 60px;
  margin-left: 5px;
}

h4 {
}
